@import "../../../../styles.scss";
@import "../../../../assets/variables.scss";

.chat-item {
  margin-top: resize(20);
  display: flex;
  align-items: center;
  width: 100%;
  padding: resize(12);
  border-radius: 5px;
  gap: resize(20);
  // justify-content: center;
  img.avatar {
    $size: resize(100);
    border-radius: 100%;
    width: resize(100);
    height: resize(100);
  }
  .right {
    width: 100%;
    p.name {
      font-size: resize(24);
      margin-bottom: resize(18);
      font-weight: 500;
    }
    .message-description {
      display: flex;
      align-items: center;
      width: 100%;
      .message {
        font-size: resize(20);

        color: $gray-color;
      }
      .time {
        margin-left: resize(20);
        font-size: resize(18);
        color: $gray-color;
      }
    }
  }
}
.chat-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
