@import "../../../styles.scss";
@import "../../../assets/variables.scss";

.chat-page-container {
  height: 100%;
  margin-top: resize(100);
  display: flex;
  .chatwindow-container {
    flex: 1;
    background: #fff;
    padding: resize(25);
    width: resize(500);
    height: calc(100vh - resize(100));
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .title {
      font-weight: 600;
      font-size: resize(36);
      margin-bottom: resize(15);
    }

    .flex {
      button {
        background-color: $primary-color;
        color: white;
        padding: resize(5) resize(20);
        border-radius: resize(8);
      }
    }

    .chat-container {
      border-top: 1px solid #ccc;

      height: 80vh;
      padding: 0;
      overflow-y: auto;

      /* width */
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  .list-message {
    flex: 3;
    @include desktop-sm {
      flex: 2;
    }
    height: 89vh;
  }
}
