<app-header [classes]="['chat']"></app-header>
<div class="chat-page-container">
  <div class="chatwindow-container">
    <div class="flex justify-between items-center">
      <h2 class="title">Tin nhắn</h2>
      <button (click)="openDialog()">+</button>
    </div>
    <!-- <input-field placeholder="Tìm kiếm" icon="search"></input-field> -->
    <div class="chat-container">
      <app-chat-item *ngFor="let room of rooms | async" [room]="room"></app-chat-item>
    </div>
  </div>

  <div class="list-message">
    <router-outlet></router-outlet>
  </div>
</div>