@import "../../../../../../styles.scss";
@import "../../../../../../assets/variables.scss";

.follow-item-container {
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  height: resize(115);
  margin-bottom: resize(13);
  border-radius: resize(20);
  padding: 0 resize(40);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    padding: 0 resize(16);
  }

  .left {
    display: flex;
    align-items: center;
    gap: resize(20);

    @include mobile {
      gap: resize(15);
    }

    img {
      width: resize(80);
      height: resize(80);
      border-radius: 100%;

      @include mobile {
        width: resize(60);
        height: resize(60);
      }
    }

    .info {
      .name {
        font-size: resize(32);
        margin-bottom: resize(10);

        @include mobile {
          font-size: resize(24);
          margin-bottom: 0;
        }
      }

      .sub {
        font-size: resize(24);
        color: $gray-color;

        @include mobile {
          font-size: resize(16);
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: resize(210);
    background-color: $primary-color;
    color: #fff;
    padding: resize(15);
    border-radius: resize(40);
    cursor: pointer;

    p {
      text-align: center;
    }

    @include mobile {
      min-width: resize(150);
      padding: resize(10);

      p {
        font-size: resize(16);
      }
    }
  }

  .right.followed {
    background-color: #fff;
    border-width: resize(1);
    border-color: $primary-color;
    color: $primary-color;
  }
}
