<div class="collection-body-container">
    <div class="header">
        <p class="title">Tất cả</p>
        <a (click)="toggleNavLeft(true)">
            <object>
                <embed src="../../../../assets/icons/filter.svg" type="">
            </object>
        </a>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <div class="right">
            <p class="collection-title">Áo dài ăn hỏi trắng dành cho nàng ưa chuộng sự nhẹ nhàng, tươi sáng và đơn giản.
                🤍 - 𝗖𝗛𝗢𝗨𝗖𝗛𝗢𝗨 𝗕𝗿𝗶𝗱𝗮𝗹 - 𝗠𝗮𝗸𝗲𝘂𝗽 - 𝘞𝘌𝘋𝘋𝘐𝘕𝘎 𝘋𝘙𝘌𝘚𝘚 - 𝘔𝘈𝘒𝘌 𝘜𝘗 📍
                𝐒𝐭𝐨𝐫𝐞: 212B/7 Nguyen Trai,...</p>
            <div class="controller">
                <div class="controller-item">
                    <embed src="../../../../assets/icons/share.svg" type="">
                </div>
                <div class="controller-item">
                    <embed src="../../../../assets/icons/option.svg" type="">
                </div>
            </div>
        </div>
    </div>
</div>