<div class="collection-body-container">
    <div class="header">
        <p class="title">Tất cả</p>
        <a (click)="toggleNavLeft(true)">
            <object>
                <embed src="../../../../assets/icons/filter.svg" type="">
            </object>
        </a>
    </div>
    <div class="collection-item" *ngFor="let post of posts">
        <img [src]="post.owner?.avatar" alt="">
        <div class="right">
            <p class="collection-title">{{post.caption}}</p>
            <div class="controller" *ngIf="collection_id">
                <div class="controller-item" (click)="remove(post.id)">
                    <embed src="../../../../assets/icons/trash.svg" type="">
                </div>
            </div>
        </div>
    </div>
</div>