<div class="navigator-container">
  <div class="admin-user">
    <img src="https://via.placeholder.com/150" alt="" />
    <a href="#" class="admin-name">Duy Anh</a>
    <button class="sign-out">Đăng xuất</button>
  </div>
  <div class="navigator">
    <h2>Quản lý</h2>
    <div class="menu">
      <a routerLink="post-manager" class="nav-item">
        <mat-icon>edit</mat-icon>
        <p>Bài viết</p>
      </a>
      <a routerLink="user-manager" class="nav-item">
        <mat-icon>account_circle</mat-icon>
        <p>Người dùng</p>
      </a>
    </div>
  </div>
</div>
