<div class="bg-login">
  <div class="login-container">
    <img src="https://via.placeholder.com/150" alt="" class="logo" />
    <h2>NetZen Management</h2>
    <div class="input-login">
      <div class="input-item">
        <mat-icon>person</mat-icon>
        <label for="username">Admin: </label>
        <input type="text" id="username" placeholder="Admin" />
      </div>
      <div class="input-item">
        <mat-icon>lock</mat-icon>
        <label for="password">Mật khẩu: </label>
        <input type="password" id="password" placeholder="Mật khẩu" />
      </div>
    </div>
    <button class="login-button">Đăng nhập</button>
  </div>
</div>
