@import "../../../styles.scss";
@import "../../../assets/variables.scss";

.post-item-container {
  width: 100%;
  background: #fff;
  padding: resize(25);
  border-radius: resize(20);
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left {
      display: flex;
      align-items: center;
      gap: resize(20);

      img {
        width: resize(64);
        height: resize(64);
        border-radius: 100%;
      }

      .name {
        font-size: resize(32);

        @include mobile {
          font-size: resize(24);
        }
      }

      .time {
        font-size: resize(16);
        color: $gray-color;
      }
    }

    mat-icon {
      color: $gray-color;
      cursor: pointer;
    }
  }

  .body {
    padding: resize(25) 0;

    p {
      font-size: resize(24);
      font-weight: 300;
      color: $gray-color;
      margin: 0;

      @include mobile {
        font-size: resize(20);
      }
    }
  }

  .interact-count {
    display: flex;
    justify-content: space-between;
    color: $gray-color;
    margin-bottom: resize(10);
    font-weight: 300;

    .count-item {
      display: flex;
      align-items: center;
      gap: resize(10);

      p {
        font-size: resize(24);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        @include mobile {
          font-size: resize(20);
        }
      }
    }

    .right {
      display: flex;
      gap: resize(20);
    }

    mat-icon {
      color: $primary-color;
    }
  }

  .interact-container {
    color: $gray-color;
    margin: resize(10) 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    position: relative;

    .interact-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: resize(10);
      cursor: pointer;
      padding: resize(5) 0;
      flex: 1;
      border-radius: resize(8);

      embed {
        width: resize(30);
        height: resize(30);

        @include mobile {
          width: resize(25);
          height: resize(25);
        }
      }

      p {
        font-size: resize(22);
        cursor: pointer;

        @include mobile {
          font-size: resize(18);
        }
      }

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }

    .emotion-container {
      position: absolute;
      background-color: white;
      width: 50%;
      height: resize(80);
      left: 2.5%;
      bottom: resize(60);
      border-radius: resize(50);
      box-shadow: 0.3px 0.3px 4px rgba($color: #000000, $alpha: 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 resize(16);
      animation-name: emotion-slide;
      animation-duration: 0.5s;

      @include mobile {
        width: 100%;
        bottom: resize(50);
        left: 0;
      }

      .emotion-item {
        a {
          cursor: pointer;
          embed {
            width: resize(50);
            height: resize(50);
          }
        }
      }
    }

    .share-container {
      position: absolute;
      width: 35%;
      background-color: white;
      right: 0;
      top: resize(50);
      z-index: 909;
      border-radius: resize(20);
      padding: resize(16);
      box-shadow: 0.3px 0.3px 4px rgba($color: #000000, $alpha: 0.1);

      @include mobile {
        width: 58%;
      }

      .share-item {
        display: flex;
        align-items: center;
        gap: resize(8);
        margin-bottom: resize(10);
        cursor: pointer;
        padding: resize(5) resize(16);
        border-radius: resize(8);

        embed {
          width: resize(30);
          height: resize(30);
        }

        p {
          font-weight: 500;
          font-size: resize(24);

          @include mobile {
            font-size: resize(20);
          }
        }

        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }

  .comment-container {
    padding: resize(16) 0;

    hr {
      margin-bottom: resize(20);
    }

    .comment-controller {
      display: flex;
      align-items: center;
      gap: resize(20);
      margin-bottom: resize(20);

      img {
        width: resize(50);
        height: resize(50);
        border-radius: 100%;
      }
      .input-container {
        display: flex;
        align-items: center;
        gap: resize(20);
        flex: 1;

        input {
          background-color: $secondary-color;
          padding: resize(10) resize(25);
          border-radius: resize(30);
          outline: none;
          flex: 1;
        }

        a {
          cursor: pointer;

          embed {
            width: resize(30);
            height: resize(30);
          }
        }
      }
    }
  }
}

@keyframes emotion-slide {
  from {
    bottom: resize(0);
  }
  to {
    @include mobile {
      bottom: resize(50);
    }
    bottom: resize(60);
  }
}
