<div class="post-item-container">
    <div class="header">
        <div class="left">
            <img src="https://external-preview.redd.it/bXgxZKcg6ky1wputU8bVsqSpsSFvm7TOjtwUObdtUfI.jpg?width=640&crop=smart&auto=webp&s=efc0c6f188caf3dcb4e67675be00f0e717ed2ad6"
                alt="">
            <div>
                <p class="name">Duy Anh</p>
                <p class="time">1 giờ trước</p>
            </div>
        </div>
        <mat-icon>more_horiz</mat-icon>
    </div>
    <div class="body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s</p>
    </div>

    <div class="interact-count">
        <div class="count-item">
            <mat-icon>favorite</mat-icon>
            <p>124</p>
        </div>
        <div class="right">
            <div class="count-item">
                <p>124</p>
                <p>bình luận</p>
            </div>
            <div class="count-item">
                <p>124</p>
                <p>chia sẻ</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="interact-container">
        <div class="interact-item">
            <mat-icon>favorite_border</mat-icon>
            <p>Thích</p>
        </div>
        <div class="interact-item">
            <mat-icon>chat</mat-icon>
            <p>Bình luận</p>
        </div>
        <div class="interact-item">
            <mat-icon>share</mat-icon>
            <p>Chia sẻ</p>
        </div>
    </div>
</div>