@import "../../../styles.scss";
@import "../../../assets/variables.scss";

.header-container {
  height: resize(100);
  background-color: #9146ff;

  padding-left: resize(250);
  padding-right: resize(250);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-left {
    display: flex;
    align-items: center;
    gap: resize(20);

    p {
      font-size: resize(32);
      color: white;
      margin: 0;
    }

    mat-icon {
      color: #fff;
      font-size: resize(32);
    }
  }
  .header-right {
    .tools-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: resize(60);
        height: resize(60);
        background: white;
        opacity: 0.3;
        margin-right: resize(25);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        transition: all 0.3s;
        cursor: pointer;

        embed {
          background-color: transparent;
          width: resize(30);
          height: resize(30);
          cursor: pointer;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
