<div class="header-container">
  <div class="header-left">
    <a routerLink="/">
      <p>Logo here</p>
    </a>
    <mat-icon>search</mat-icon>
  </div>
  <div class="header-right">
    <div class="tools-bar">
      <div class="icon notification">
        <embed src="../../../assets/icons/bell-solid.svg" type="">
      </div>
      <div class="icon chat">
        <embed src="../../../assets/icons/facebook-messenger-brands.svg" type="">
      </div>
      <div class="icon menu">
        <embed src="../../../assets/icons/chevron-down-solid.svg" type="">
      </div>
    </div>
  </div>
</div>