@import "../../../styles.scss";
@import "../../../assets/variables.scss";

.header-wrapper.collection {
  .header-container {
    @include tablet {
      padding-left: resize(16);
      padding-right: resize(16);
    }
  }
}

.header-wrapper {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  top: 0;

  .header-container {
    height: resize(100);
    background-color: #9146ff;

    padding: 0 resize(250);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .header-left {
      display: flex;
      align-items: center;
      gap: resize(20);

      p {
        font-size: resize(32);
        color: white;
        margin: 0;
      }

      .search {
        position: relative;

        input {
          outline: none;
          border-radius: resize(22);
          background-color: $secondary-color;
          padding: resize(10) resize(10);
          padding-left: resize(50);
          opacity: 0.5;
          color: $gray-color;
        }

        mat-icon.search {
          cursor: pointer;
          color: rgba($color: #fff, $alpha: 0.5);
          font-size: resize(32);
          position: absolute;
          left: resize(10);
          top: 50%;
          transform: translateY(-50%);
        }

        .search-menu {
          position: absolute;
          padding: resize(16);
          min-width: resize(500);
          min-height: resize(400);
          border-radius: resize(15);
          background-color: white;
          top: resize(90);
          right: 0;

          ::ng-deep app-follow-item {
            .follow-item-container {
              margin: 0;
              padding: resize(10) resize(16);
              height: auto;
              margin-bottom: resize(13);
              transition: all 0.5s;
              cursor: pointer;

              &:hover {
                background-color: rgba($color: #000, $alpha: 0.1);
              }

              .left {
                img {
                  width: resize(40) !important;
                  height: resize(40) !important;
                }
              }

              .info {
                p.name {
                  font-size: resize(24);
                  margin-bottom: resize(0);
                }
                p.sub {
                  font-size: resize(16);
                  margin: 0;
                }
              }

              .right {
                min-width: resize(100);
                padding: resize(5);
                p {
                  font-size: resize(16);
                  margin: 0;
                }
              }
            }
          }

          .title {
            margin-bottom: resize(32);
            color: $gray-color;
            font-size: resize(24);
          }

          .search-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: resize(0);
            padding: resize(10);
            border-radius: resize(8);
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
              background-color: rgba($color: #000, $alpha: 0.1);
            }

            .left {
              display: flex;
              align-items: center;
              gap: resize(13);

              img {
                width: resize(60);
                height: resize(60);
                border-radius: 100%;
              }
              p {
                color: $gray-color;
                font-size: resize(24);
              }
            }

            mat-icon.close {
              cursor: pointer;
              color: $gray-color;
              // font-size: resize(32);
            }
          }
        }
      }
    }

    .header-right {
      .tools-bar {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: resize(60);
          height: resize(60);
          background: white;
          margin-right: resize(25);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          transition: all 0.3s;
          cursor: pointer;
          opacity: 0.5;

          embed {
            background-color: transparent;
            width: resize(30);
            height: resize(30);
            cursor: pointer;
          }

          &:hover {
            opacity: 1;
          }
        }

        .search,
        .menu-mobile {
          display: none;
        }
      }
    }

    .menu-notification {
      position: absolute;
      background-color: #fff;
      right: 200px;
      top: resize(100);
      z-index: 999;
      min-width: 300px;
      padding: resize(16) resize(12);
      border-radius: resize(20);
      box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.1);

      @include desktop-sm {
        right: 150px;
      }

      @include tablet {
        right: 100px;
      }

      .notification-item {
        display: flex;
        align-items: center;
        gap: resize(10);
        margin-bottom: resize(13);
        padding: resize(5) resize(10);
        border-radius: resize(8);
        cursor: pointer;

        .avatar {
          img {
            border-radius: 100%;
            width: resize(60);
            height: resize(60);
          }
        }

        .right {
          max-width: resize(250);
        }

        &:hover {
          background-color: rgba($color: #000, $alpha: 0.1);
        }
      }
    }

    app-chat-window {
      display: flex;
      align-items: center;
      right: 150px;
      top: resize(100);
      position: absolute;

      gap: resize(10);
      margin-bottom: resize(13);
      padding: resize(5) resize(10);
      border-radius: resize(8);
      cursor: pointer;
    }
    .menu-setting {
      position: absolute;
      background-color: #fff;
      right: 100px;
      top: resize(100);
      min-width: 200px;
      padding: resize(16) resize(12);
      border-radius: resize(20);
      box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.1);
      z-index: 909;

      @include tablet {
        right: 50px;
      }

      @include desktop-sm {
        right: 70px;
      }

      .menu-setting-item {
        display: flex;
        align-items: center;
        gap: resize(10);
        margin-bottom: resize(13);
        padding: resize(10) resize(15);
        border-radius: resize(8);
        transition: all 0.5s;
        cursor: pointer;
        transition: all 0.5s;

        embed {
          width: resize(30);
          height: resize(30);
        }

        &:hover {
          background-color: rgba($color: #000, $alpha: 0.1);
        }
      }

      .theme {
        .flex {
          gap: resize(10);
        }

        justify-content: space-between;
      }
    }

    @include desktop-md {
      padding: 0 resize(150);
    }

    @include desktop-sm {
      padding: 0 resize(16);
    }

    @include tablet {
      padding: 0 resize(200);

      .header-left {
        mat-icon {
          display: none;
        }
      }

      .header-right {
        .tools-bar {
          .notification,
          .chat,
          .menu {
            display: none;
          }

          .icon {
            width: resize(50);
            height: resize(50);

            embed {
              width: resize(20);
              height: resize(20);
            }
          }

          .search,
          .menu-mobile {
            display: flex;
          }

          .menu-mobile {
            margin-right: 0;
          }
        }
      }
    }

    @include mobile {
      padding: 0 resize(16);

      .header-left {
        mat-icon {
          display: none;
        }
      }

      .header-right {
        .tools-bar {
          .notification,
          .chat,
          .menu {
            display: none;
          }

          .icon {
            width: resize(50);
            height: resize(50);

            embed {
              width: resize(20);
              height: resize(20);
            }
          }

          .search,
          .menu-mobile {
            display: flex;
          }

          .menu-mobile {
            margin-right: 0;
          }
        }
      }
    }
  }
}
