<div [ngClass]="{'collection-nav-container': true, 'active': showNavLeft, 'unactive': !showNavLeft}">
    <p class="title">Bộ sưu tập của tôi</p>
    <div class="nav-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <p class="name">
            Collection
        </p>
    </div>
    <div class="nav-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <p class="name">
            Collection
        </p>
    </div>
    <div class="nav-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <p class="name">
            Collection
        </p>
    </div>
    <div class="nav-item">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <p class="name">
            Collection
        </p>
    </div>

    <div class="btn-collection">
        <p>+ Bộ sưu tập mới</p>
    </div>
</div>