@import "../../../../styles.scss";
@import "../../../../assets/variables.scss";

.collection-nav-container {
  min-height: calc(100vh - resize(100));
  height: 100vh;
  min-width: resize(400);
  background-color: #fff;
  box-shadow: 1px 0 4px rgba($color: #000000, $alpha: 0.1);
  padding: resize(32) resize(16);
  position: fixed;
  top: resize(100);
  opacity: 1 !important;
  z-index: 9999;

  @include mobile {
    left: resize(-400) !important;
  }

  p.title {
    font-size: resize(32);
    font-weight: bold;
    margin-bottom: resize(32);
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: resize(10);
    margin-bottom: resize(16);
    padding: resize(10) resize(16);
    border-radius: resize(10);
    transition: all 0.5s;
    cursor: pointer;

    img {
      width: resize(60);
      height: resize(60);
      border-radius: resize(8);
    }

    p.name {
      font-size: resize(20);
      font-weight: 500;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .btn-collection {
    background-color: rgba($color: $primary-color, $alpha: 0.2);
    text-align: center;
    padding: resize(16);
    border-radius: resize(10);
    cursor: pointer;
    transition: all 0.5s;

    p {
      color: $primary-color;
      font-size: resize(24);
    }

    &:hover {
      background-color: $primary-color;

      p {
        color: white;
      }
    }
  }
}

@include mobile {
  .collection-nav-container.active {
    left: 0 !important;
  }

  .collection-nav-container.unactive {
    left: resize(-400) !important;
  }
}

@keyframes slide_nav_mobile {
  from {
    left: resize(-400) !important;
  }
  to {
    left: 0 !important;
  }
}

@keyframes slide_nav_mobile_close {
  from {
    left: 0 !important;
  }
  to {
    left: resize(-400) !important;
  }
}
