<div [ngClass]="{'collection-nav-container': true, 'active': showNavLeft, 'unactive': !showNavLeft}">
    <p class="title">Bộ sưu tập của tôi</p>

    <div class="nav-item" *ngFor="let collection of collections" (click)="navigate(collection.id)">
        <img src="https://images.cloudflareapps.com/EJzyxsCCQOeRa71a83tX_background-2.jpeg" alt="">
        <p class="name">
            {{collection.name}}
        </p>
    </div>


    <div class="btn-collection" (click)="openDialog()">
        <p>+ Bộ sưu tập mới</p>
    </div>
</div>