<div class="container">
  <div class="top">
    <img src="https://via.placeholder.com/150" alt="" class="avatar" />
    <form [formGroup]="formGroup" style="width: 100%;">
      <input-field [formGroup]="formGroup" name="content" class="content" placeholder="Bạn đang nghĩ gì?"
        (click)="openDialog()">
      </input-field>
    </form>
  </div>
  <div class="bottom">
    <div class="item">
      <mat-icon class="tag">people</mat-icon>
      <label for="">Gắn thẻ</label>
    </div>
    <div class="item">
      <mat-icon class="images">image</mat-icon>
      <label for="">Hình ảnh</label>
    </div>
    <div class="item">
      <mat-icon class="express">tag_faces</mat-icon>
      <label for="">Cảm Xúc</label>
    </div>
  </div>
</div>