<div class="container">
  <div class="top">
    <img src="https://via.placeholder.com/150" alt="" class="avatar" />
    <input-field class="content" placeholder="Bạn đang nghĩ gì?" (click)="openDialog()"></input-field>
  </div>
  <div class="bottom">
    <div class="item">
      <mat-icon class="tag">people</mat-icon>
      <label for="">Gắn thẻ</label>
    </div>
    <div class="item">
      <mat-icon class="images">image</mat-icon>
      <label for="">Hình ảnh</label>
    </div>
    <div class="item">
      <mat-icon class="express">tag_faces</mat-icon>
      <label for="">Cảm Xúc</label>
    </div>
  </div>
</div>
