<div class="container">
  <div class="top flex items-center">
    <img *ngIf="user" src="{{user.avatar}}" alt="" class="avatar" />
    <div class="animate-pulse" *ngIf="!user">
      <div class="rounded-full bg-gray-200 w-14 h-14"></div>
    </div>
    <form [formGroup]="formGroup" style="width: 100%;">
      <input-field [formGroup]="formGroup" name="content" class="content" placeholder="Bạn đang nghĩ gì?"
        (click)="openDialog()">
      </input-field>
    </form>
  </div>
  <div class="bottom">
    <div class="item">
      <mat-icon class="tag">people</mat-icon>
      <label for="">Gắn thẻ</label>
    </div>
    <div class="item">
      <mat-icon class="images">image</mat-icon>
      <label for="">Hình ảnh</label>
    </div>
    <div class="item">
      <mat-icon class="express">tag_faces</mat-icon>
      <label for="">Cảm Xúc</label>
    </div>
  </div>
</div>