@import "../../../styles.scss";
@import "../../../assets/variables.scss";
.chatwindow-container {
  background: #fff;
  padding: resize(25);
  width: resize(500);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .title {
    font-weight: 600;
    font-size: resize(36);
    margin-bottom: resize(15);
  }

  input-field {
  }
  .chat-container {
    max-height: resize(400);
    overflow-y: scroll;
    .chat-item {
      margin-top: resize(20);
      display: flex;
      align-items: center;
      width: 100%;
      padding: resize(12);
      border-radius: 5px;
      // justify-content: center;
      .avatar {
        $size: resize(100);
        border-radius: 50%;
        margin-right: resize(25);
        width: $size;
        height: $size;
      }
      .right {
        width: 100%;
        p.name {
          font-size: resize(24);
          margin-bottom: resize(18);
          font-weight: 500;
        }
        .message-description {
          display: flex;
          align-items: center;
          width: 100%;
          .message {
            font-size: resize(20);

            color: $gray-color;
          }
          .time {
            margin-left: resize(20);
            font-size: resize(18);
            color: $gray-color;
          }
        }
      }
    }
    .chat-item:hover {
      background-color: #f1f1f1;
    }
  }

  .see-all-messages {
    margin: resize(20) auto 0 auto;
    width: 100%;

    border-radius: 10px;
    background-color: #dddddd;
    padding: resize(10);
  }
  .see-all-messages:hover {
    opacity: 0.7;
  }
}
