<div class="chatwindow-container">
  <h2 class="title">Tin nhắn</h2>
  <input-field placeholder="Tìm kiếm" icon="search"></input-field>
  <div class="chat-container">
    <div class="chat-item">
      <img
        src="https://external-preview.redd.it/bXgxZKcg6ky1wputU8bVsqSpsSFvm7TOjtwUObdtUfI.jpg?width=640&crop=smart&auto=webp&s=efc0c6f188caf3dcb4e67675be00f0e717ed2ad6"
        alt=""
        class="avatar"
      />
      <div class="right">
        <p class="name">Mai Hữu Tín</p>
        <div class="message-description">
          <div class="message">Đã gửi một ảnh</div>
          <label for="" class="time">30 phút</label>
        </div>
      </div>
    </div>
    <div class="chat-item">
      <img
        src="https://external-preview.redd.it/bXgxZKcg6ky1wputU8bVsqSpsSFvm7TOjtwUObdtUfI.jpg?width=640&crop=smart&auto=webp&s=efc0c6f188caf3dcb4e67675be00f0e717ed2ad6"
        alt=""
        class="avatar"
      />
      <div class="right">
        <p class="name">Mai Hữu Tín</p>
        <div class="message-description">
          <div class="message">Đã gửi một ảnh</div>
          <label for="" class="time">30 phút</label>
        </div>
      </div>
    </div>
    <div class="chat-item">
      <img
        src="https://external-preview.redd.it/bXgxZKcg6ky1wputU8bVsqSpsSFvm7TOjtwUObdtUfI.jpg?width=640&crop=smart&auto=webp&s=efc0c6f188caf3dcb4e67675be00f0e717ed2ad6"
        alt=""
        class="avatar"
      />
      <div class="right">
        <p class="name">Mai Hữu Tín</p>
        <div class="message-description">
          <div class="message">Đã gửi một ảnh</div>
          <label for="" class="time">30 phút</label>
        </div>
      </div>
    </div>
    <div class="chat-item">
      <img
        src="https://external-preview.redd.it/bXgxZKcg6ky1wputU8bVsqSpsSFvm7TOjtwUObdtUfI.jpg?width=640&crop=smart&auto=webp&s=efc0c6f188caf3dcb4e67675be00f0e717ed2ad6"
        alt=""
        class="avatar"
      />
      <div class="right">
        <p class="name">Mai Hữu Tín</p>
        <div class="message-description">
          <div class="message">Đã gửi một ảnh</div>
          <label for="" class="time">30 phút</label>
        </div>
      </div>
    </div>
    <div class="chat-item">
      <img
        src="https://external-preview.redd.it/bXgxZKcg6ky1wputU8bVsqSpsSFvm7TOjtwUObdtUfI.jpg?width=640&crop=smart&auto=webp&s=efc0c6f188caf3dcb4e67675be00f0e717ed2ad6"
        alt=""
        class="avatar"
      />
      <div class="right">
        <p class="name">Mai Hữu Tín</p>
        <div class="message-description">
          <div class="message">Đã gửi một ảnh</div>
          <label for="" class="time">30 phút</label>
        </div>
      </div>
    </div>
  </div>

  <button class="see-all-messages" routerLink="/message">
    Xem tất cả tin nhắn
  </button>
</div>
