<div class="chatwindow-container">
  <h2 class="title">Tin nhắn</h2>
  <div class="chat-container">
    <div class="chat-item" *ngFor="let room of rooms | async">
      <img
        [src]="room.avatar"
        alt="" class="avatar" />
      <div class="right">
        <p class="name">{{room.name}}</p>
        <div class="message-description">
          <div class="message">{{room.last_message}}</div>
          <label for="" class="time">{{room.timestamp}}</label>
        </div>
      </div>
    </div>
    
  <button class="see-all-messages" routerLink="/message">
    Xem tất cả tin nhắn
  </button>
</div>