<div class="forgot-password-container flex items-center">
    <div class="left bg-primary-color h-[100%] flex items-center justify-center flex-1">
        <img src="../../../../assets/images/forgot-password.png" alt="">
    </div>
    <div class="right flex flex-col items-center justify-center w-[100%] flex-1" [ngSwitch]="currentPage">
        <app-forgot-password-send-email *ngSwitchCase="'send-email'"></app-forgot-password-send-email>
        <app-forgot-password-send-code *ngSwitchCase="'send-code'"></app-forgot-password-send-code>
        <app-forgot-password-change-password *ngSwitchCase="'change-password'"></app-forgot-password-change-password>
        <app-forgot-password-success *ngSwitchCase="'success'"></app-forgot-password-success>
    </div>
</div>