@import "../../../styles.scss";
@import "../../../assets/variables.scss";

.navbar-left-container {
  display: flex;
  flex-direction: column;
  z-index: 999;

  .nav-item {
    display: flex;
    align-items: center;
    padding: resize(10) resize(25);
    border-radius: resize(8);
    height: resize(50);
    gap: resize(10);
    transition: all 0.3s;
    margin-bottom: resize(13);
    cursor: pointer;

    img {
      width: resize(30);
      height: resize(30);
      border-radius: 100%;
    }

    p {
      font-size: resize(24);
      color: black;
      font-weight: 450;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  .nav-item.active {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }
}
