<div class="container">
  <div class="profile">
    <img src="https://via.placeholder.com/150" alt="avatar" />
    <a href="#" class="name">Mai Hữu Tín</a>
  </div>
  <div class="nav-list">
    <div class="item">
      <mat-icon>home</mat-icon>
      <label for="">Trang Chủ</label>
    </div>
    <div class="item">
      <mat-icon>bookmark</mat-icon>
      <label for="">Đã Lưu</label>
    </div>
    <div class="item">
      <mat-icon>settings</mat-icon>
      <label for="">Cài Đặt</label>
    </div>
  </div>
</div>
