@import '../../../styles.scss';

.input-container {
  position: relative;
  margin-bottom: 10px;
  mat-icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #707070;
  }
  input {
    padding: 12px resize(70);
    background-color: #f0f0ff;
    border-radius: 10px;
    width: 100%;
  }
}
