<div class="dialog-container">
    <div class="header">
        <p class="title">
            Tạo bài viết
        </p>
    </div>
    <hr>
    <div class="user-info">
        <img src="{{user?.avatar}}" alt="">
        <div class="right">
            <p class="name">{{user?.name}}</p>
            <div class="post-access">
                <embed src="../../../../assets/icons/world.svg" type="">
                <p>Công khai</p>
                <embed src="../../../../assets/icons/chevron-down-solid.svg" type="">
            </div>
        </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onCreatePost()">
        <textarea [ngClass]="{'has-image': images.length > 0 || videos.length > 0}" formControlName="caption"
            placeholder="Bạn đang nghĩ gì thế?"></textarea>
        <div class="images-container" *ngIf="images.length > 0">
            <div class="img-wrapper" *ngFor="let image of images">
                <img [src]="image.image" alt="">
                <div class="close" (click)="removeImage(image)">
                    <mat-icon>close</mat-icon>
                </div>
            </div>
        </div>
        <div class="images-container" *ngIf="videos.length > 0">
            <div class="img-wrapper" *ngFor="let video of videos">
                <video [src]="video.video" alt="" controls></video>
                <div class="close" (click)="removeImage(video)">
                    <mat-icon>close</mat-icon>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="item">
                <mat-icon class="tag">people</mat-icon>
                <label for="">Gắn thẻ</label>
            </div>
            <input formControlName="files" multiple (change)="onChangeImage($event)" type="file" style="display: none;" #fileInput>
            <div class="item" (click)="fileInput.click()">
                <mat-icon class="images">image</mat-icon>
                <label for="">Hình ảnh</label>
            </div>
            <div class="item">
                <mat-icon class="express">tag_faces</mat-icon>
                <label for="">Cảm Xúc</label>
            </div>
        </div>
        <button class="btn-post" type="submit" [disabled]="!formGroup.valid">Đăng bài</button>
    </form>
</div>