<p class="title">Bạn bè</p>
<div class="list-friend-container mt-3">
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
  <app-friend-item></app-friend-item>
</div>
