<p class="title">Bạn bè</p>
<div class="list-friend-container mt-3">
    <div class="item">
        <div class="left">
            <img src="https://via.placeholder.com/150" alt="">
            <div class="name-container">
                <p class="name">Mai Hữu Tín</p>
                <p class="username">@huti</p>
            </div>
        </div>
        <div class="right">
            <p>Đang online</p>
            <div class="symbol"></div>
        </div>
    </div>
    <div class="item">
        <div class="left">
            <img src="https://via.placeholder.com/150" alt="">
            <div class="name-container">
                <p class="name">Mai Hữu Tín</p>
                <p class="username">@huti</p>
            </div>
        </div>
        <div class="right">
            <p>Đang online</p>
            <div class="symbol"></div>
        </div>
    </div>
    <div class="item">
        <div class="left">
            <img src="https://via.placeholder.com/150" alt="">
            <div class="name-container">
                <p class="name">Mai Hữu Tín</p>
                <p class="username">@huti</p>
            </div>
        </div>
        <div class="right">
            <p>Đang online</p>
            <div class="symbol"></div>
        </div>
    </div>
    <div class="item">
        <div class="left">
            <img src="https://via.placeholder.com/150" alt="">
            <div class="name-container">
                <p class="name">Mai Hữu Tín</p>
                <p class="username">@huti</p>
            </div>
        </div>
        <div class="right">
            <p>Đang online</p>
            <div class="symbol"></div>
        </div>
    </div>
</div>