@import "../../../styles.scss";
@import "../../../assets/variables.scss";

.title {
  font-size: resize(24);
}

.list-friend-container {
  display: flex;
  flex-direction: column;
  gap: resize(13);
  height: 100%;
  overflow: scroll;
}
