@import "../../../assets/variables.scss";
@import "../../../styles.scss";

.color {
  color: $primary-color;
}
.login {
  justify-content: space-between;
  height: 100vh;
  background: #fff;
  .loginLeft {
    background-color: $primary-color;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;

    img {
      width: resize(1048);
      height: resize(734);
    }
  }
  .loginRight {
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: resize(400);
      // align-items: center;

      h1 {
        font-size: resize(48);
        margin-bottom: resize(35);
        text-align: center;
      }

      .buttonLogin {
        background-color: $primary-color;
        color: #fff;
        margin: 0 resize(85);
        margin-top: resize(60);
        margin-bottom: resize(30);
        border-radius: resize(8);
        font-size: resize(28);
        width: resize(229);
        height: resize(70);
      }

      .forgotPass {
        color: $primary-color;
        text-align: center;
        font-size: resize(24);
      }

      label {
        color: #707070;
        font-size: resize(36);
        margin: 15px auto;
      }

      .register {
        color: $primary-color;
        margin: 5px auto;
        font-size: resize(48);
      }
    }
  }
}
