<div class="login flex items-center ">
    <div class="loginLeft">
        <img src="../../../assets/images/t7HWomG - Imgur.png" alt="">
    </div>
    <div class="loginRight">
        <div class="flex flex-col wrapper">
            <h1 class=" w-full text-primary-color">Đăng nhập</h1>
            <input-field class="loginInput" name="usernameOrEmail" placeholder="Username or email" icon="person">
            </input-field>
            <input-field class="loginInput" name="password" placeholder="Mật khẩu" icon="lock"></input-field>

            <button class="buttonLogin">Đăng nhập</button>
            <a routerLink="/forgot-password" class="forgotPass">Quên mật khẩu</a>
            <label for="#">
                Không có tài khoản?</label>
            <a routerLink="/register" class="register">Đăng Ký</a>
        </div>
    </div>

</div>