$PrimaryColor : #9146FF;

.color{
    color:$PrimaryColor;
}
.login{
    justify-content: space-between;
    height: 100vh;
    .loginLeft{
    background-color: #9146FF;
    height: 100vh;
    flex:1;
    img{
        margin-top: 130px;
        max-height: 400px;
        margin: 130px auto ;
    }
    };
    .loginRight{
        flex:1;
        text-align: center;
        .loginInput{
            display:flex;
            margin: auto ;
            mat-icon{
                color:#707070;
                padding-top: 10px;
                margin-right: 5px;
            }
        }
        .buttonLogin{
            background-color: #9146FF;
            padding:12px 16px;
            color: #fff;
            width: 200px;
            margin:10px auto ;
            border-radius: 5px;
            font-size:20px;
            
        }
        .forgotPass{
            color: #9146FF;
            margin:5px auto ;

        }
        label{
            color:#707070;
            font-size:24px;
            font-weight: 600;
            margin:15px auto ;

        }
        .register{
            color: #9146FF;
            margin:5px auto ;
            font-size:24px;

        }
    }
}