<div class="register flex items-center">
    <div class="registerLeft">
        <h1 class=" w-full text-[40px] text-primary-color font-medium color">Đăng Ký</h1>
        <div class="w-full px-container flex flex-col  ">
            <div class="registerInput">
                <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
                <input-field  name="usernameOrEmail" placeholder="Họ và tên">
                </input-field>
            </div>
            <div class="registerInput">
                <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
                <input-field name="password" placeholder="Username"></input-field>
                
            </div>
            <div class="registerInput">
                <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
                <input-field name="password" placeholder="Email"></input-field>
                
            </div>
            <div class="registerInput">
                <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
                <input-field name="password" placeholder="Số điện thoại"></input-field>
                
            </div>
            <div class="registerInput">
                <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
                <input-field name="password" placeholder="Mật khẩu"></input-field>
                
            </div>
            <div class="registerInput">
                <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
                <input-field name="password" placeholder="Xác nhận mật khẩu"></input-field>
                
            </div>
            <button class="buttonRegister">Đăng Ký</button>

            <label for="#"> 
                 Đã có tài khoản?</label>
            <a href="#" class="register">Đăng Nhập</a>
        </div>
    </div>
    <div class="registerRight">
        <img src="../../../assets/user-login-4268415-3551762.png" alt="">
        
    </div>
</div>