<div class="register flex items-center">
    <div class="registerLeft">
        <div class="wrapper">
            <form [formGroup]="formGroup">
                <h1 class=" w-full text-primary-color color">Đăng Ký</h1>
                <input-field [formGroup]="formGroup" class="registerInput" name="name" icon="info"
                    placeholder="Họ và tên">
                </input-field>
                <input-field [formGroup]="formGroup" class="registerInput" name="username" icon="person"
                    placeholder="Username"></input-field>

                <input-field [formGroup]="formGroup" class="registerInput" name="email" icon="mail" placeholder="Email">
                </input-field>

                <input-field [formGroup]="formGroup" class="registerInput" name="phoneNumber" icon="phone"
                    placeholder="Số điện thoại">
                </input-field>

                <input-field [formGroup]="formGroup" class="registerInput" name="password" icon="lock"
                    placeholder="Mật khẩu"></input-field>

                <input-field [formGroup]="formGroup" class="registerInput" name="confirmPassword"
                    placeholder="Xác nhận mật khẩu" icon="lock">
                </input-field>

                <button class="buttonRegister">Đăng Ký</button>
                <br>
                <div class="mb-5">
                    <label for="#">
                        Đã có tài khoản?</label>
                </div>
                <br>
                <a routerLink="/login" class="register">Đăng Nhập</a>
            </form>
        </div>
    </div>
    <div class="registerRight">
        <img src="../../../assets/images/user-login-4268415-3551762.png" alt="">
    </div>
</div>