@import "../../../styles.scss";
@import "../../../assets/variables.scss";

.register {
  .registerLeft {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;

    .wrapper {
      width: resize(400);
      display: flex;
      flex-direction: column;

      h1 {
        font-size: resize(48);
        margin-bottom: resize(30);
      }

      .registerInput {
        margin-top: resize(13);
      }

      .buttonRegister {
        background-color: #9146ff;
        color: #fff;
        border-radius: resize(8);
        font-size: resize(32);
        width: resize(250);
        height: resize(65);
        margin: resize(50) auto;
      }

      label {
        color: #707070;
        font-size: 24px;
        margin: 15px auto;
      }
      a {
        color: #9146ff;
        margin: 5px auto;
        font-size: resize(32);
      }
    }
  }
  .registerRight {
    background-color: #9146ff;
    height: 100vh;
    flex: 1;
    img {
      margin-top: 130px;
      max-height: 450px;
      margin: 130px auto;
    }
  }
}
