<div class="register flex items-center">
    <div class="registerLeft">
        <div class="wrapper">
            <h1 class=" w-full text-primary-color color">Đăng Ký</h1>
            <input-field class="registerInput" name="usernameOrEmail" icon="info" placeholder="Họ và tên">
            </input-field>
            <input-field class="registerInput" name="password" icon="person" placeholder="Username"></input-field>

            <input-field class="registerInput" name="password" icon="mail" placeholder="Email"></input-field>

            <input-field class="registerInput" name="password" icon="phone" placeholder="Số điện thoại"></input-field>

            <input-field class="registerInput" name="password" icon="lock" placeholder="Mật khẩu"></input-field>

            <input-field class="registerInput" name="password" placeholder="Xác nhận mật khẩu" icon="lock">
            </input-field>

            <button class="buttonRegister">Đăng Ký</button>

            <label for="#">
                Đã có tài khoản?</label>
            <a routerLink="/login" class="register">Đăng Nhập</a>
        </div>
    </div>
    <div class="registerRight">
        <img src="../../../assets/images/user-login-4268415-3551762.png" alt="">
    </div>
</div>