<div class="change-password-container">
    <p class="title">Đổi mật khẩu</p>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <input-field type="password" [formGroup]="formGroup" name="old_password" placeholder="Mật khẩu cũ" icon="lock">
        </input-field>
        <input-field type="password" [formGroup]="formGroup" name="new_password" placeholder="Mật khẩu mới" icon="lock">
        </input-field>
        <input-field type="password" [formGroup]="formGroup" name="confirm_password" placeholder="Mật khẩu xác nhận"
            icon="lock">
        </input-field>
        <button type="submit">Đổi mật khẩu</button>
    </form>
</div>