@import "../../../../styles.scss";
@import "../../../../assets/variables.scss";

.change-password-container {
  text-align: center;

  p {
    font-weight: 500;
    font-size: resize(32);
    margin-bottom: resize(20);
  }

  button {
    background: $primary-color;
    color: white;
    padding: resize(20) resize(30);
    border-radius: resize(8);
    outline: none;
    font-size: resize(24);
    margin-top: resize(20);
  }
}
