<div class="comment-item">
    <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/269987831_1784164695125867_2342026024628273748_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=r1T31IQlbDkAX-336u_&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT_JWPjWrYnZc4AHfNkmgL4cCaU4zlVRDF7r36KOhUqKlQ&oe=629FEF32"
        alt="">
    <div class="right">
        <div class="info">
            <p class="name">Khưu Hồng Tiến</p>
            <p class="content">Ui ai mà đẹp chai wa kìa chị</p>
        </div>
        <div class="interact">
            <p appLongPress (longPress)="onShowInteract()">Thích</p>
            <p>Phản hồi</p>
            <p>46 phút trước</p>
        </div>
    </div>
    <div *ngIf="showInteract" class="emotion-container-comment" #emotion>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/heart-circle.svg" type="">
                </object>
            </a>
        </div>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/wow-logo.svg" type="">
                </object>
            </a>
        </div>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/sad-icon.svg" type="">
                </object>
            </a>
        </div>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/angry-logo.svg" type="">
                </object>
            </a>
        </div>
    </div>
</div>