<div class="comment-item" *ngIf="comment">
    <img [src]="comment.owner.avatar" alt="">
    <div class="right">
        <div class="info">
            <p class="name">{{comment.owner.name}}</p>
            <p class="content">{{comment.content}}</p>
        </div>
        <div class="interact">
            <p appLongPress (longPress)="onShowInteract()">Thích</p>
            <p>Phản hồi</p>
            <p>{{comment.timestamp}}</p>
        </div>
    </div>
    <div *ngIf="showInteract" class="emotion-container-comment" #emotion>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/heart-circle.svg" type="">
                </object>
            </a>
        </div>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/wow-logo.svg" type="">
                </object>
            </a>
        </div>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/sad-icon.svg" type="">
                </object>
            </a>
        </div>
        <div class="emotion-item">
            <a>
                <object>
                    <embed src="../../../assets/icons/angry-logo.svg" type="">
                </object>
            </a>
        </div>
    </div>
</div>