<div class="suggest-list">
  <div class="item">
    <img src="https://via.placeholder.com/150" alt="" />
    <div class="name-container">
      <div class="name">Mai Hữu Tín</div>
      <div class="username">@huti</div>
    </div>
    <button class="follow bg-primary-color">Theo dõi</button>
  </div>
  <div class="item">
    <img src="https://via.placeholder.com/150" alt="" />
    <div class="name-container">
      <div class="name">Mai Hữu Tín</div>
      <div class="username">@huti</div>
    </div>
    <button class="follow bg-primary-color">Theo dõi</button>
  </div>
  <div class="item">
    <img src="https://via.placeholder.com/150" alt="" />
    <div class="name-container">
      <div class="name">Mai Hữu Tín</div>
      <div class="username">@huti</div>
    </div>
    <button class="follow bg-primary-color">Theo dõi</button>
  </div>
  <div class="item">
    <img src="https://via.placeholder.com/150" alt="" />
    <div class="name-container">
      <div class="name">Mai Hữu Tín</div>
      <div class="username">@huti</div>
    </div>
    <button class="follow bg-primary-color">Theo dõi</button>
  </div>
</div>
