<div class="forgot-password-container flex items-center">
    <div class="left bg-primary-color h-[100%] flex items-center justify-center flex-1">
        <img src="../../../../assets/images/forgot-password.png" alt="">
    </div>
    <div class="right flex flex-col items-center justify-center w-[100%] flex-1" [ngSwitch]="currentPage">
        <div class="send-email flex flex-col items-center" *ngSwitchCase="'send-email'">
            <p class="text-h1">Quên mật khẩu</p>
            <input-field class="my-5" name="email" placeholder="Email của bạn" icon="lock"></input-field>
            <app-common-button title="Gửi" [onClick]="onSendMail.bind(this)"></app-common-button>
        </div>
        <div class="send-code flex flex-col items-center" *ngSwitchCase="'send-code'">
            <div class="flex flex-col items-start">
                <p class="text-h2">Nhập mã xác thực</p>
                <p class="text-xl text-gray-color">Chúng tôi đã gửi mã xác thực đến email của bạn</p>
            </div>
            <div class="mx-[30%] mt-5">
                <code-input (codeCompleted)="onDoneSendCode($event)"></code-input>
            </div>
        </div>
        <div class="change-password flex flex-col items-center" *ngSwitchCase="'change-password'">
            <p class="text-h2 text-primary-color">Đổi mật khẩu</p>
            <div class="w-[300px] mt-5">
                <input-field placeholder="Mật khẩu mới" name="new_password" icon="lock"></input-field>
            </div>
            <div class="w-[300px]">
                <input-field placeholder="Xác nhận mật khẩu" name="confirm_password" icon="lock"></input-field>
            </div>

            <app-common-button class="mt-5 " title="Đổi mật khẩu" [onClick]="onChangePassword.bind(this)"></app-common-button>
        </div>

        <div class="success flex flex-col items-center justify-between" *ngSwitchCase="'success'">
            <div class="flex flex-col items-center">
                <div
                    class="w-[300px] h-[300px] bg-secondary-color mb-5 rounded-[100%] flex justify-center items-center">
                    <mat-icon>check</mat-icon>
                </div>
                <p class="text-h2 text-primary-color">Thành công</p>
                <p class="text-xl text-gray-color">Đổi mật khẩu thành công</p>
            </div>
            <div class="login">
                <a routerLink="/login" class="text-h2 text-primary-color">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>