@import "../../../../assets/variables.scss";

.forgot-password-container {
  height: 100vh;

  .right {
    height: 100%;
    padding: 150px 0;

    .success {
      height: 100%;
      mat-icon {
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        font-size: 100px;
      }
    }
  }
}
