@import "../../../styles.scss";

.home-container {
  .body {
    padding-left: resize(350);
    padding-right: resize(350);
    margin-top: resize(20);
    display: flex;
    gap: resize(20);

    app-navbar-left {
      // min-width: resize(300);
      flex: 1
    }
    .content {
      flex: 2;
    }
    .right {
      flex: 1;
    }
  }
}
