@import "../../../styles.scss";

.home-container {
  position: relative;
  app-header {
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  .body {
    padding-left: resize(350);
    padding-right: resize(350);
    margin-top: resize(20);
    display: flex;
    gap: resize(20);
    position: relative;

    app-navbar-left {
      // min-width: resize(300);
      height: 100vh;

      flex: 1;
      position: sticky;
      top: 90px;
      z-index: 2;
    }

    .content {
      flex: 2;
    }

    .right {
      position: sticky;
      top: 90px;
      height: 100%;

      flex: 1;
    }

    @include desktop-lg {
      padding: 0 resize(75);
    }

    @include desktop-md {
      padding: 0 resize(100);
      padding-top: resize(150);
    }

    @include desktop-sm {
      padding: 0 resize(16);
      padding-top: resize(150);
    }

    @include tablet {
      padding-left: resize(200);
      padding-right: resize(200);
      padding-top: resize(150);

      app-navbar-left,
      .right {
        display: none;
      }
    }

    @include mobile {
      padding: 0 resize(16);
      padding-top: resize(150);
    }
  }
}
