<div class="success flex flex-col items-center justify-between">
    <div class="flex flex-col items-center">
        <div class="icon-wrapper bg-secondary-color mb-5 rounded-[100%] flex justify-center items-center">
            <mat-icon>check</mat-icon>
        </div>
        <p class="text-h2 text-primary-color pt-10 pb-5">Thành công</p>
        <p class="text-xl text-gray-color pb-10">Đổi mật khẩu thành công</p>
    </div>
    <div class="login">
        <a (click)="back()" class="text-h2 text-primary-color">Đăng nhập</a>
    </div>
</div>