@import "../../../../assets/variables.scss";
@import "../../../../styles.scss";

.success {
  height: 100%;

  .icon-wrapper {
    width: resize(200);
    height: resize(200);

    mat-icon {
      height: 300px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;
      font-size: 100px;
    }
  }

  .login {
    a {
      cursor: pointer;
    }
  }
}
