<div class="change-password flex flex-col items-center">
    <p class="text-h2 text-primary-color">Đổi mật khẩu</p>
    <form [formGroup]="changePasswordForm">
        <div class="w-[300px] mt-5">
            <input-field [formGroup]="changePasswordForm" placeholder="Mật khẩu mới" name="new_password" icon="lock">
            </input-field>
        </div>
        <div class="w-[300px]">
            <input-field [formGroup]="changePasswordForm" placeholder="Xác nhận mật khẩu" name="confirm_password"
                icon="lock"></input-field>
        </div>
    </form>

    <app-common-button class="mt-5 " title="Đổi mật khẩu" [onClick]="onChangePassword.bind(this)">
    </app-common-button>
</div>