@import "../../../../styles.scss";
@import "../../../../assets/variables.scss";
.post-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .widget {
    display: flex;
    justify-content: space-around;
    margin-bottom: resize(20);
  }
  h2 {
    margin: 32px auto;
    font-size: 32px;
  }
  .search {
    display: flex;
    align-items: center;
    margin-bottom: resize(20);
    label {
      font-size: 20px;
      font-weight: 500;
    }
    .input-container {
      margin-left: resize(10);
      display: flex;
      align-items: center;
      position: relative;
      input {
        padding: resize(15) resize(55);
        border-radius: 5px;
      }
      mat-icon {
        position: absolute;
        top: 25%;
        left: 5%;
        color: #707070;
      }
    }
  }
  .list-posts {
    table.posts-table {
      width: 100%;
      border: 1px solid #ccc;
      border-collapse: collapse;

      border-radius: 10px;
      tr {
        border: 1px solid #ccc;
        .paginator {
          width: 100%;
        }
      }
      .table-header {
        background-color: #ccc;
        th {
          padding: resize(20);
          font-size: 18px;
        }
      }
      .table-item {
        td {
          padding: resize(15) 0;
          text-align: center;
          font-size: 16px;
        }
        .id {
        }
        .user a:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        .date {
        }
        .interaction {
        }
        .link {
          color: #0004ff;
        }
        .link a:hover {
          text-decoration: underline;
        }
        .delete {
          color: red;
        }
      }
    }
  }
}
