<div class="comment-container">
    <div class="comment-controller">
        <img *ngIf="post.owner" [src]="post.owner.avatar" alt="" />
        <div class="animate-pulse" *ngIf="!post">
            <div class="rounded-full bg-gray-200 w-5 h-5"></div>
          </div>
        <div class="input-container">
            <form (ngSubmit)="onComment()" [formGroup]="commentFormGroup">
                <input formControlName="content" type="text" placeholder="Viết bình luận" />
                <button type="submit">
                    <img *ngIf="!loading" src="../../../assets/icons/send.svg" class="animate-pin" />
                    <svg *ngIf="loading" class="animate-spin -ml-1 mr-3 h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                </button>
            </form>

        </div>
    </div>
    <hr />
</div>

<app-comment *ngFor="let comment of post.comments" [comment]="comment" [getPostQueryRef]="getPostQueryRef"></app-comment>