@import "../../../../styles.scss";
@import "../../../../assets/variables.scss";

.comment-container {
  padding: resize(16) 0;

  hr {
    margin-bottom: resize(20);
  }

  .comment-controller {
    display: flex;
    align-items: center;
    gap: resize(20);
    margin-bottom: resize(20);

    img {
      width: resize(50);
      height: resize(50);
      border-radius: 100%;
    }
    .input-container {
      flex: 1;
      form {
        display: flex;
        align-items: center;
        gap: resize(20);
        width: 100%;

        input {
          background-color: $secondary-color;
          padding: resize(10) resize(25);
          border-radius: resize(30);
          outline: none;
          flex: 1;
        }

        button {
          img {
            width: resize(50);
            height: resize(30);
          }
        }
      }
    }
  }
}
