@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  body {
    height: 100%;
    margin: 0;
    font-family: "Quicksand", sans-serif !important;

    h1 {
      font-family: "Quicksand", sans-serif !important;
    }
    label {
      font-family: "Quicksand", sans-serif !important;
    }

    object {
      pointer-events: none;
    }
  }
}

@function resize($dp) {
  @return calc($dp * 0.75px);
}

code-input {
  --item-spacing: 10px !important;
  --item-height: 3em !important;
  --item-border: none !important;
  --item-border-bottom: 2px solid #cdd4d9 !important;
  --item-border-has-value: none !important;
  --item-border-bottom-has-value: 2px solid #9146ff !important;
  --item-border-focused: none !important;
  --item-border-bottom-focused: 2px solid #9146ff !important;
  --item-shadow-focused: none !important;
  --item-border-radius: 0px !important;
}
